@import url("https://fonts.googleapis.com/css?family=Noto+Sans");

:root {
	--primary: #9375f5;
	--primary-darker: #594699;
	--primary-faded: #a790f3;
	--secondary: #3D67E0;
	--secondary-faded: #3d66e0b4;
	--third-color: #52d0fa9c;
	--third-color-darker: #255d709c;
	--third-color-faded: #52d0fa36;
	--success: #76F58C;
	--failure: #F65463;
	--info: #5D72F5;
}

* {
	font-family: "Noto Sans";
}