.dropzone {
  display: flex;
  padding-left: 3rem;
  padding-right: 3rem;
}

.dropzone section {
  border: black 4px solid;
  border-radius: 50px;
  grid-area: main;
  width: 100%;
  height: 60vh;
  margin: 5rem;
  display: flex;
  justify-content: center;
}

.dropzone section img {
  width: 50rem;
  height: 35rem;
}

.dropzone aside {
  grid-area: aside;
  overflow-y: scroll;
  width: 20rem;
  height: 100%;
  margin-top: 5rem;
}

.dropzone aside li {
  height: 6rem;
}